language: python

matrix:
  include:
    - os: osx
      language: generic
      sudo: false
      python: "2.7"

    - os: osx
      language: generic
      sudo: false
      python: "3.6"
 
   # - os: linux
   #   dist: trusty
   #   sudo: false
   #   python: "2.7"

   # - os: linux
   #   dist: trusty
   #   sudo: false
   #   python: "3.6"

# install dependencies
before_install:
    - if test ${TRAVIS_OS_NAME} = "osx"; then
        brew update;
        brew libomp;
        brew install gcc;
      fi
install: 
  - pip install -r requirements-travis.txt

script:
  - py.test pyswmm

